---
import IconBlueSky from "@/assets/icons/IconBlueSky.svg";
import IconBrandX from "@/assets/icons/IconBrandX.svg";
import IconFacebook from "@/assets/icons/IconFacebook.svg";
import IconLinkedin from "@/assets/icons/IconLinkedin.svg";
import IconMail from "@/assets/icons/IconMail.svg";
import IconPinterest from "@/assets/icons/IconPinterest.svg";
import IconTelegram from "@/assets/icons/IconTelegram.svg";
import IconWhatsapp from "@/assets/icons/IconWhatsapp.svg";
import { SHARE_LINKS } from "@/constants";
import LinkButton from "./LinkButton.astro";

const URL = Astro.url;

const iconMap = {
  whatsapp: IconWhatsapp,
  facebook: IconFacebook,
  twitter: IconBrandX,
  bluesky: IconBlueSky,
  linkedin: IconLinkedin,
  telegram: IconTelegram,
  pinterest: IconPinterest,
  mail: IconMail,
};
---

<div
  class="flex flex-col flex-wrap items-center justify-center gap-2 sm:gap-1 sm:items-start"
>
  <span class="italic">Share this post on:</span>
  <div class="text-center flex flex-wrap gap-1">
    {
      SHARE_LINKS.map((social) => {
        const IconComponent = iconMap[social.icon as keyof typeof iconMap];
        return (
          <LinkButton
            href={`${social.href + URL}`}
            class="p-3 sm:p-2 hover:rotate-6"
            title={social.linkTitle}
          >
            {IconComponent && (
              <IconComponent class="inline-block size-8 sm:size-6 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent" />
            )}
            <span class="sr-only">{social.linkTitle}</span>
          </LinkButton>
        );
      })
    }
  </div>
</div>
