---
const { id } = Astro.props;

// Accept either a full URL or just the video ID
let videoId = id;

// If it's a full URL, extract just the ID
if (id.includes("youtube.com") || id.includes("youtu.be")) {
  // Extract from youtube.com/watch?v=VIDEO_ID
  if (id.includes("youtube.com/watch")) {
    const url = new URL(id);
    videoId = url.searchParams.get("v") || "";
  }
  // Extract from youtu.be/VIDEO_ID
  else if (id.includes("youtu.be/")) {
    videoId = id.split("youtu.be/")[1]?.split("?")[0] || "";
  }
  // Extract from youtube.com/embed/VIDEO_ID
  else if (id.includes("youtube.com/embed/")) {
    videoId = id.split("youtube.com/embed/")[1]?.split("?")[0] || "";
  }
}
---

<div class="youtube-embed">
  <iframe
    width="560"
    height="315"
    src={`https://www.youtube.com/embed/${videoId}`}
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>

<style>
  .youtube-embed {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .youtube-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
