---
import Analytics from "../components/Analytics.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Sidebar />
    <div id="main-wrapper">
      <main>
        <slot />
        <Footer />
      </main>
    </div>
    <Analytics />

    <script>
      // Mobile sidebar toggle
      const sidebarToggle = document.createElement("button");
      sidebarToggle.classList.add("sidebar-toggle");
      sidebarToggle.innerHTML = '<i class="fas fa-bars"></i>';
      document.body.appendChild(sidebarToggle);

      sidebarToggle.addEventListener("click", () => {
        document.getElementById("sidebar").classList.toggle("show");
      });
    </script>
  </body>
</html>
